 <% for(var i=0; i<obj.features.length; i++) {%>
   <% if (obj.features[i].properties.Field18){%>
     <div><%= i+1 %>.<%= obj.features[i].properties.Field18 %></div>
     <div style="padding-left:40px">

       <div>A. <%= obj.features[i].properties.Field19 %></div>
       <div>B.<%= obj.features[i].properties.Field20 %></div>
       <div>C. <%= obj.features[i].properties.Field21 %></div>
       <div>D. <%= obj.features[i].properties.Field22 %></div>
       <div>E. <%= obj.features[i].properties.Field23 %></div>
     </div>
   <div style="padding-left:20px">
       <div>=> Đáp án: <%= obj.features[i].properties.Field24 %></div>
       <div>Giải thích: <%= obj.features[i].properties.Field25 %></div>
   </div>
   <%}else{%>
     <div><%= i+1 %>.<%= obj.features[i].properties.Field18 %> Không có câu hỏi</div>
   <%}%>

 <%}%>
<script>

</script>
