<!DOCTYPE html>
<html>
<head>
<title>HCI</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="/js/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
<!-- <link href='http://fonts.which is googleapis.com/css?family=Roboto:400,300,300italic,500,400italic,700,700italic' rel='stylesheet' type='text/css'> -->
<link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.0.1/material.teal-red.min.css" />
<script src="//storage.googleapis.com/code.getmdl.io/1.0.1/material.min.js"></script>
<!-- Load c3.css -->
<link rel="stylesheet" href="css/c3.css">
<link rel="stylesheet" href="css/c3.min.css">
<link rel="stylesheet" href="stylesheets/style.css">


<!-- Load d3.js and c3.js -->
<script src="js/d3.js" charset="utf-8"></script>
<script src="js/d3.min.js" charset="utf-8"></script>
<script src="js/c3.js" ></script>
<script src="js/c3.min.js" ></script>
</head>
<body>
  <div class="mdl-layout mdl-js-layout">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">HCI-CHI</span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation">
  				<a class="mdl-navigation__link" href="/">Home</a>
  				<a class="mdl-navigation__link" href="/quiz">Quiz</a>
  				<a class="mdl-navigation__link" href="/quiz_answer">Quiz answer</a>
          <a class="mdl-navigation__link" href="/thongke">Thống kê</a>
          <a class="mdl-navigation__link" href="https://github.com/NTT-TNN">Author</a>
        </nav>
      </div>
    </header>
  	<div class="mdl-layout__drawer">
      <span class="mdl-layout-title">HCI-CHI</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/">Home</a>
        <a class="mdl-navigation__link" href="/quiz">Quiz</a>
        <a class="mdl-navigation__link" href="/quiz_answer">Quiz answer</a>
        <a class="mdl-navigation__link" href="/thongke">Thống kê</a>
          <a class="mdl-navigation__link" href="https://github.com/NTT-TNN">Author</a>
      </nav>
    </div>
    </div>

  <!-- <h1>Danh sách các câu đúng:</h1>
  <h1><%= answer_arr %></h1> -->
  <h1 style="text-align:center;padding-top:50px">Quiz HCI</h1>
  <div style="text-align:center">
    <div id="clockdiv">
      <div>
        <span class="minutes"></span>
        <div class="smalltext">Minutes</div>
      </div>
      <div>
        <span class="seconds"></span>
        <div class="smalltext">Seconds</div>
      </div>
    </div>
  </div>
  <form action="/quiz" method="post">
   <% for(var i=0; i<obj.length; i++) {%>
     <% if (obj[i]!=null && obj[i].properties.Field18 && obj[i].properties.Field19!=" " && obj[i].properties.Field20
     && obj[i].properties.Field21 && obj[i].properties.Field22){%>
         <div><%= i+1 %>.<%= obj[i].properties.Field18 %></div>
         <div style="padding-left:40px">
           <div class="row">
             <div class="checkbox">
               <div class="">
                 <label><input type="checkbox" value="A" name="<%- i %>"/>A. <%= obj[i].properties.Field19 %></label>
               </div>
               <div>
                 <label><input type="checkbox" value="B" name="<%- i %>"/>B.<%= obj[i].properties.Field20 %></label>
               </div>
               <div>
                 <label><input type="checkbox" value="C" name="<%- i %>"/>C. <%= obj[i].properties.Field21 %></label>
               </div>
               <div>
                 <label><input type="checkbox" value="D" name="<%- i %>"/>D. <%= obj[i].properties.Field22 %></label>
               </div>
               <div class="">
                 <label><input type="checkbox" value="E" name="<%- i %>"/>E. <%= obj[i].properties.Field23 %></label>
               </div>
             </div>
         </div>
       </div>
     <%}%>

   <%}%>
   <div class="row" style="text-align:center">
     <button type="submit" id="submit" class="btn btn-primary">Nộp bài</button>
   </div>
 </form>
   <div style="text-align:center" class="row">
     <a href="https://github.com/NTT-TNN"><i style="font-size:48px;color:'red'" class="fa fa-github" ></i>
     </a>
     <div class="col-xs-12 col-md-12 col-sm-12">
       <!-- <img src="/images/IMG_4778.JPG" style="height:768px;width:1366px"alt=""> -->

     </div>
   </div>
<script>
  function getTimeRemaining(endtime) {
    var t = Date.parse(endtime) - Date.parse(new Date());
    var seconds = Math.floor((t / 1000) % 60);
    var minutes = Math.floor((t / 1000 / 60) % 60);
    var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
    var days = Math.floor(t / (1000 * 60 * 60 * 24));
    return {
      'total': t,
      'days': days,
      'hours': hours,
      'minutes': minutes,
      'seconds': seconds
    };
  }

  function initializeClock(id, endtime) {
    var clock = document.getElementById(id);
    // var daysSpan = clock.querySelector('.days');
    // var hoursSpan = clock.querySelector('.hours');
    var minutesSpan = clock.querySelector('.minutes');
    var secondsSpan = clock.querySelector('.seconds');

    function updateClock() {
      var t = getTimeRemaining(endtime);

      // daysSpan.innerHTML = t.days;
      // hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
      minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
      secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

      if (t.total <= 0) {
        document.getElementById("submit").click();
        clearInterval(timeinterval);
      }
    }

    updateClock();
    var timeinterval = setInterval(updateClock, 1000);
  }

var deadline = new Date(Date.parse(new Date()) + 1 * 20 * 1000);
initializeClock('clockdiv', deadline);
</script>

</body>
</html>
