<!DOCTYPE html>
<html>
<head>
<title>HCI</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
<link href='http://fonts.which is googleapis.com/css?family=Roboto:400,300,300italic,500,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.0.1/material.teal-red.min.css" />
<script src="//storage.googleapis.com/code.getmdl.io/1.0.1/material.min.js"></script>
<!-- Load c3.css -->
<link rel="stylesheet" href="css/c3.css">
<link rel="stylesheet" href="css/c3.min.css">
<link rel="stylesheet" href="stylesheets/style.css">


<!-- Load d3.js and c3.js -->
<script src="js/d3.js" charset="utf-8"></script>
<script src="js/d3.min.js" charset="utf-8"></script>
<script src="js/c3.js" ></script>
<script src="js/c3.min.js" ></script>
</head>
<body>
  <div class="mdl-layout mdl-js-layout">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">HCI-CHI</span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation">
  				<a class="mdl-navigation__link" href="/">Home</a>
  				<a class="mdl-navigation__link" href="/quiz">Quiz</a>
  				<a class="mdl-navigation__link" href="/quiz_answer">Quiz answer</a>
          <a class="mdl-navigation__link" href="/thongke">Thống kê</a>
          <a class="mdl-navigation__link" href="https://github.com/NTT-TNN">Author</a>
        </nav>
      </div>
    </header>
  	<div class="mdl-layout__drawer">
      <span class="mdl-layout-title">HCI-CHI</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="#">Home</a>
        <a class="mdl-navigation__link" href="/quiz">Quiz</a>
        <a class="mdl-navigation__link" href="/quiz_answer">Quiz answer</a>
        <a class="mdl-navigation__link" href="/thongke">Thống kê</a>
          <a class="mdl-navigation__link" href="https://github.com/NTT-TNN">Author</a>
      </nav>
    </div>
    </div>
    <h1 style="text-align:center">Quiz HCI</h1>

  <h3>Bạn trả lới đùng</h3>
  <h3><%= mark %>/20 Câu</h3>
  <h1>Danh sách các câu đúng:</h1>
  <h1><%= answer_arr %></h1>
  <h1 style="text-align:center">Quiz HCI</h1>
  <form action="/quiz" method="post">
   <% for(var i=0; i<obj.length; i++) {%>
     <% if (obj[i]!=null && obj[i].properties.Field18 && obj[i].properties.Field19!=" " && obj[i].properties.Field20
     && obj[i].properties.Field21 && obj[i].properties.Field22){%>
         <div <%if(answer_arr.indexOf(i+1)==-1){%>class="wrong"<%}%>><%= i+1 %>.<%= obj[i].properties.Field18 %></div>
         <div style="padding-left:40px">
           <div class="row">
             <div class="checkbox">
               <div>
                 <label><input type="checkbox" value="A" name="<%- i %>" disabled/>A. <%= obj[i].properties.Field19 %></label>
               </div>
               <div>
                 <label><input type="checkbox" value="B" name="<%- i %>"disabled/>B.<%= obj[i].properties.Field20 %></label>
               </div>
               <div>
                 <label><input type="checkbox" value="C" name="<%- i %>"/disabled>C. <%= obj[i].properties.Field21 %></label>
               </div>
               <div>
                 <label><input type="checkbox" value="D" name="<%- i %>"disabled/>D. <%= obj[i].properties.Field22 %></label>
               </div>
               <div class="">
                 <label><input type="checkbox" value="E" name="<%- i %>"disabled/>E. <%= obj[i].properties.Field23 %></label>
               </div>
               <h3>Đáp án đúng:<%= obj[i].properties.Field24 %></h3>
             </div>
         </div>
       </div>
     <%}%>

   <%}%>
   <div class="row" style="text-align:center">
     <button type="submit" class="btn btn-primary">Nộp bài</button>
   </div>
 </form>
   <div style="text-align:center" class="row">
     <a href="https://github.com/NTT-TNN"><i style="font-size:48px;color:'red'" class="fa fa-github" ></i>
     </a>
     <div class="col-xs-12 col-md-12 col-sm-12">
       <!-- <img src="/images/IMG_4778.JPG" style="height:768px;width:1366px"alt=""> -->

     </div>
   </div>


</body>
</html>
